@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap'); */
:root {
  --font-primary:"Elms Sans", sans-serif;
}

body{
  background-color: #f0f4f9;
  font-family: var(--font-primary);
}
 h1,h2{
  font-weight: 500;
 }
/* .borderr{
  border: 1px solid rgba(255, 255, 255, 0.258);
} */
.glass-effect {
  background: rgba(240, 240, 240, 0.48);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid #1f1f1f; */
  /* border-radius: 19px; */
}
nav{
  border-bottom: 1px solid #1f1f1f;
}
.button1{
  padding: 14px 20px ;
  /* background-color:#272e51; */
  background: linear-gradient(to right,#272e51, black);
  color: white;
  border-radius: 14px;
  transition: 0.4s;
  cursor: pointer;
}
.button1:hover{
  padding: 14px 25px;
}
.tag{
  padding: 14px 20px ;
  /* background-color:#272e51; */
  background: linear-gradient(to right,#20272f, black);
  color: white;
  border-radius: 27px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.tag:hover{
  padding: 14px 25px;
}
.skill-card{
  background-color: #fafafa;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  padding: 16px;

}
.tags{
  background-color: #f0f4f9;
  border: 1px solid #e6e6e6;
  margin-bottom: 0;
  /* border-radius: 10px; */
  /* padding: 16px; */
}
.project-tools{
  background-color: #f0f4f9;
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.project-image{
  border-radius: 9px;
  border: 3px solid #e6e6e6;
  /* height: 350px; */
}