@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&amp;family=Outfit:wght@300;400;700;900&amp;display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap'); */
:root {
  --font-primary:"Elms Sans", sans-serif;
  --radius:0.625rem;
  --foreground:oklch(1 0 0); 
  --background:oklch(0.145 0 0);
  /* --background:oklch(1 0 0);
  --foreground:oklch(0.145 0 0); */
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.145 0 0);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.145 0 0);
  --primary:oklch(0.205 0 0);
  --primary-foreground:oklch(0.985 0 0);
  --secondary:oklch(0.97 0 0);
  --secondary-foreground:oklch(0.205 0 0);
  --muted:oklch(0.97 0 0);
  --muted-foreground:oklch(0.556 0 0);
  --accent:oklch(0.97 0 0);
  --accent-foreground:oklch(0.205 0 0);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.922 0 0);
  --input:oklch(0.922 0 0);
  --ring:oklch(0.708 0 0);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:oklch(0.985 0 0);
  --sidebar-foreground:oklch(0.145 0 0);
  --sidebar-primary:oklch(0.205 0 0);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.97 0 0);
  --sidebar-accent-foreground:oklch(0.205 0 0);
  --sidebar-border:oklch(0.922 0 0);
  --sidebar-ring:oklch(0.708 0 0);
}

body{
  background-color: #050505;
  /* font-family: var(--font-primary); */
  font-family: 'Outfit', sans-serif;
}
 h1,h2{
  font-weight: 500;
 }
/* .borderr{
  border: 1px solid rgba(255, 255, 255, 0.258);
} */
.glass-effect {
  background: rgba(240, 240, 240, 0.48);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid #1f1f1f;
  border-radius: 26px;
}
nav{
  /* border-bottom: 1px solid #1f1f1f; */
}
.button1{
  padding: 14px 20px ;
  /* background-color:#272e51; */
  background: linear-gradient(to right,#272e51, black);
  color: white;
  border-radius: 14px;
  transition: 0.4s;
  cursor: pointer;
}
.button1:hover{
  padding: 14px 25px;
}
.tag{
  padding: 14px 20px ;
  /* background-color:#272e51; */
  background: linear-gradient(to right,#20272f, black);
  color: white;
  border-radius: 27px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.tag:hover{
  padding: 14px 25px;
}
.skill-card{
  background-color: #fafafa;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  padding: 16px;

}
.project-button{
  background-color: #f0f4f9;
  border: 1px solid #e6e6e6;
  margin-bottom: 0;
  /* border-radius: 10px; */
  /* padding: 16px; */
}
.project-tools{
  background-color: #f0f4f9;
  border: 1px solid #e6e6e6;
  font-size: 12px;
}
.skills{
  background-color: #f0f4f9;
  border: 1px solid #e6e6e6;
  /* font-size: 12px; */
}


 

/* Contact component */
.social-links{
  background-color: #fafafa;
  border: 2px solid #e6e6e6;
}
 
.grid-bg {
  position: relative;
  background-color: #050505;
}

.grid-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: gridMove 3s linear infinite;
  pointer-events: none;
  z-index: 0;
}

@keyframes gridMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position:  50px 50px;
  }
}
.hide-scrollbar::-webkit-scrollbar {
   display: none; 
}
.hide-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
/* a:hover{
  cursor: pointer !important;
} */
/* .grid-bg {
   
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 60px 60px;
  animation: gridDrift 60s linear infinite;
}
@keyframes gridDrift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
} */

/* @media (min-width: 1024px) { 
  .grid-bg { background-size: 60px 60px; } 
} */
.glass-card {
  background: rgba(20, 20, 20, 0.6); backdrop-filter: blur(16px); border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
  /* position: fixed; Sticks to the bottom */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  overflow: hidden; /* Ensures no scrollbars appear */
  display: flex;
  justify-content: center; /* Centers the text horizontally */
  line-height: 0.9; /* Reduces vertical spacing */
  pointer-events: none; /* Optional: lets you click things behind it */
}

.big-text {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap; /* Prevents text from wrapping */
  
  /* The Magic Sauce */
  /* font-size: 15vw;   */
  transform: translateY(15%); /* Pushes text down to hide the bottom */
}


@theme inline {
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
  --radius-2xl:calc(var(--radius) + 8px);
  --radius-3xl:calc(var(--radius) + 12px);
  --radius-4xl:calc(var(--radius) + 16px);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-card-foreground:var(--card-foreground);
  --color-popover:var(--popover);
  --color-popover-foreground:var(--popover-foreground);
  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-muted:var(--muted);
  --color-muted-foreground:var(--muted-foreground);
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-destructive:var(--destructive);
  --color-border:var(--border);
  --color-input:var(--input);
  --color-ring:var(--ring);
  --color-chart-1:var(--chart-1);
  --color-chart-2:var(--chart-2);
  --color-chart-3:var(--chart-3);
  --color-chart-4:var(--chart-4);
  --color-chart-5:var(--chart-5);
  --color-sidebar:var(--sidebar);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-ring:var(--sidebar-ring);
}

/* .dark {
  --background:oklch(0.145 0 0);
  --foreground:oklch(0.985 0 0);
  --card:oklch(0.205 0 0);
  --card-foreground:oklch(0.985 0 0);
  --popover:oklch(0.205 0 0);
  --popover-foreground:oklch(0.985 0 0);
  --primary:oklch(0.922 0 0);
  --primary-foreground:oklch(0.205 0 0);
  --secondary:oklch(0.269 0 0);
  --secondary-foreground:oklch(0.985 0 0);
  --muted:oklch(0.269 0 0);
  --muted-foreground:oklch(0.708 0 0);
  --accent:oklch(0.269 0 0);
  --accent-foreground:oklch(0.985 0 0);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.556 0 0);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:oklch(0.205 0 0);
  --sidebar-foreground:oklch(0.985 0 0);
  --sidebar-primary:oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.269 0 0);
  --sidebar-accent-foreground:oklch(0.985 0 0);
  --sidebar-border:oklch(1 0 0 / 10%);
  --sidebar-ring:oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  /* The scrolling animation */
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

  /* The hollow text effect */
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: transparent;
  }
}